.question_box {
  width: 940px;
  height: 630px;
  background-color: beige;
  padding: 60px;
}

.title {
  width: 371px;
  height: 28px;
  font-size: large;
  border: 1cm;
  margin-bottom: 16px;
}

.answer {
  width: 820px;
  height: 510px;
  padding: 60px 0 0 0;
}

.button_box {
  text-align: center;
}
