.App {
  display: flex;
  height: 100vh;
}

.SideBar {
  background-color: aqua;
  width: 200px;
}

.SideBarFooter {
  text-align: center;
  padding: 10px;
}

.SidebarFooter_add-button {
  background: none;
  border-radius: 10px;
  border: 1px solid #555;
}

.MemoContainer {
  background-color: beige;
  flex: 1;
}

.MemoContainer_title {
  width: 100%;
  box-sizing: border-box;
  font-size: 2rem;
}

.MemoContainer_content {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.1rem;
  min-height: 600px;
}

.MemoItem {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px 8px;
  box-sizing: border-box;
  position: relative;
}

.MemoItem.selected {
  background-color: rgba(100, 100, 100, 0.5);
  font-weight: 500;
}

.MemoItem_delete-button {
  background: none;
  color: red;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.MemoItem:hover .MemoItem_delete-button {
  display: inline-block;
}
